@page "/onboard"

@namespace Buriza.UI.Components.Pages

<section class="h-screen">
    <div class="container mx-auto h-full w-full flex flex-col items-center justify-between !px-4 !pt-9 !pb-24">
        <MudCarousel 
            @ref="_carousel"
            TData="object" 
            Class="mud-width-full h-full [&_.mud-carousel-item]:!mt-[20px]"
            ShowArrows="false"
            ShowBullets="false"
            AutoCycle="false"
            EnableSwipeGesture="false"
        >
            @*1st slide*@
            <MudCarouselItem Class="flex flex-col items-center justify-center gap-6!">
                <div>
                    <MudImage
                        Alt="onboard buriza"
                        Src="/_content/Buriza.UI/images/onboard/onboard_logo.webp"
                        Class="!w-[340px]"
                    />
                </div>
                <div class="!text-center !space-y-2">
                    <MudText Class="!text-[32px] !font-semibold">
                        Welcome to Buriza
                    </MudText>
                    <MudText>
                        <span>To get started, create new wallet or</span><br/>
                        <span>import an existing seed phrase</span>
                    </MudText>
                </div>
            </MudCarouselItem>
            @*2nd slide*@
            <MudCarouselItem Class="flex flex-col items-center gap-12!">
                <div class="!text-center !space-y-2">
                    <div class="relative">
                        <div>
                            <MudText Class="!text-2xl !font-medium">
                                Save This Phrase
                            </MudText>
                        </div>
                        <div>
                            <MudImage
                                Alt="yellow diamond"
                                Src="/_content/Buriza.UI/images/misc/diamond_yellow.svg"
                                Class="absolute top-0 -left-2 w-[32px] rotate-3"
                            />
                            <MudImage
                                Alt="yellow diamond"
                                Src="/_content/Buriza.UI/images/misc/diamond_blue.svg"
                                Class="absolute -top-3 left-5 rotate-3"
                            />
                            <MudImage
                                Alt="yellow diamond"
                                Src="/_content/Buriza.UI/images/misc/diamond_yellow.svg"
                                Class="absolute top-3 -right-2 rotate-3"
                            />
                            <MudImage
                                Alt="yellow diamond"
                                Src="/_content/Buriza.UI/images/misc/diamond_purple.svg"
                                Class="absolute -top-5 right-0 w-[40px] rotate-3"
                            />
                        </div>
                    </div>
                    <div>
                        <MudText Class="!font-light">
                            <span>This is your</span>
                            <span class="!font-normal">master key. </span>
                            <span>Be sure to</span><br/>
                            <span>save it somewhere safe and secure!</span>
                        </MudText>
                    </div>
                </div>
                <div class="w-full grid grid-cols-3 place-items-center !gap-3">
                    @foreach (var pair in (RecoveryPhrase ?? Enumerable.Empty<string>())
                         .Select((item, index) => new { item, index }))
                        {
                            <div class="w-full max-w-[110px] !py-2 !px-4 h-[36px] bg-[var(--mud-palette-gray-default)] rounded-full">
                                <MudText Class="!text-sm">
                                    <span>@(pair.index + 1).</span>
                                    <span>@pair.item</span>
                                </MudText>
                            </div>
                        }
                </div>
                <div class="w-full flex items-center justify-between">
                    <div>
                        <MudText Class="!text-sm !font-medium">
                            Recovery Phrase Length:
                        </MudText>
                    </div>
                    <div>
                        <MudToggleGroup 
                            T="int" 
                            @bind-Value="PhraseLength" 
                            Outlined="false"
                            Class="w-[150px] h-[24px] [&_.mud-button-label]:!text-[var(--mud-palette-primary-lighten)] [&_.mud-toggle-item-selected_.mud-button-label]:!text-[var(--mud-palette-secondary-lighten)] [&_.mud-button-filled]:!rounded-full [&_.mud-button-filled]:!bg-[var(--mud-palette-primary-lighten)]"
                        >
                            <MudToggleItem Value="12" />
                            <MudToggleItem Value="15" />
                            <MudToggleItem Value="24" />
                        </MudToggleGroup>
                    </div>
                </div>
            </MudCarouselItem>
            @*3rd slide*@
            <MudCarouselItem Class="flex flex-col items-center gap-12!">
                <div class="!text-center !space-y-2">
                    <div class="relative">
                        <div>
                            <MudText Class="!text-2xl !font-medium">
                                Recovery Phrase
                            </MudText>
                        </div>
                        <div>
                            <MudImage
                                Alt="yellow diamond"
                                Src="/_content/Buriza.UI/images/misc/diamond_yellow.svg"
                                Class="absolute top-0 -left-2 w-[32px] rotate-3"
                            />
                            <MudImage
                                Alt="yellow diamond"
                                Src="/_content/Buriza.UI/images/misc/diamond_blue.svg"
                                Class="absolute -top-3 left-5 rotate-3"
                            />
                            <MudImage
                                Alt="yellow diamond"
                                Src="/_content/Buriza.UI/images/misc/diamond_yellow.svg"
                                Class="absolute top-3 -right-2 rotate-3"
                            />
                            <MudImage
                                Alt="yellow diamond"
                                Src="/_content/Buriza.UI/images/misc/diamond_purple.svg"
                                Class="absolute -top-5 right-0 w-[40px] rotate-3"
                            />
                        </div>
                    </div>
                    <div>
                        <MudText Class="!font-light">
                            <span>Type in the recovery phrase of the</span><br/>
                            <span>walet you wish to import.</span>
                        </MudText>
                    </div>
                </div>
                <div class="w-full">
                    <BurizaTextField
                        Lines="18"
                        Placeholder="Type or paste here..."
                        Class="!max-h-[372px]"
                    />
                </div>
                <div class="w-full flex items-center justify-between">
                    <div>
                        <MudText Class="!text-sm !font-medium">
                            Recovery Phrase Length:
                        </MudText>
                    </div>
                    <div>
                        <MudToggleGroup 
                            T="int" 
                            @bind-Value="PhraseLength" 
                            Outlined="false"
                            Class="w-[150px] h-[24px] [&_.mud-button-label]:!text-[var(--mud-palette-primary-lighten)] [&_.mud-toggle-item-selected_.mud-button-label]:!text-[var(--mud-palette-secondary-lighten)] [&_.mud-button-filled]:!rounded-full [&_.mud-button-filled]:!bg-[var(--mud-palette-primary-lighten)]"
                        >
                            <MudToggleItem Value="12" />
                            <MudToggleItem Value="15" />
                            <MudToggleItem Value="24" />
                        </MudToggleGroup>
                    </div>
                </div>
            </MudCarouselItem>
            @*4th slide*@
            <MudCarouselItem Class="flex flex-col items-center justify-center gap-6!">
                <div>
                    <MudImage
                        Alt="onboard buriza"
                        Src="/_content/Buriza.UI/images/mascots/mascot_2.webp"
                        Class="!w-[219px]"
                    />
                </div>
                <div class="w-full !text-center">
                    <div class="!mb-4">
                        <MudText Class="!text-[var(--mud-palette-text-secondary)]">
                            Almost there!
                        </MudText>
                        <MudText Class="!text-[22px] !font-semibold">
                            Now, name your wallet
                        </MudText>
                    </div>
                    <div>
                        <BurizaTextField
                            Placeholder="Wallet name..."
                        />
                    </div>
                </div>
            </MudCarouselItem>
            @*5th slide*@
            <MudCarouselItem Class="flex flex-col items-center gap-12!">
                <div class="w-full flex items-center !gap-4">
                    <MudIcon
                        Icon="@Icons.Material.Filled.ArrowBack"
                    />
                    <MudText Class="!text-xl !font-medium">
                        Create Password    
                    </MudText>
                </div>
                <div class="w-full !space-y-3">
                    <BurizaTextField
                        Placeholder="Password"
                    />
                    <BurizaTextField
                        Placeholder="Confirm Password"
                    />
                </div>
                <div class="w-full">
                    <div>
                        <MudText Class="!text-[var(--mud-palette-text-secondary)] !text-sm !font-normal">
                            Additional Option
                        </MudText>
                    </div>
                    <div class="w-full flex items-center justify-between">
                        <MudText Class="!font-semibold">
                            Use Face ID
                        </MudText>
                        <MudSwitch
                            T="bool"
                            Class="!bg-[#32353D] !border !border-[#8B90A0] rounded-full [&_.mud-switch-button]:!text-[#8B90A0] [&_.mud-button-root]:!p-[6px] [&_.mud-switch-span]:!h-[32px] [&_.mud-switch-track]:!bg-transparent"
                        />
                    </div>
                </div>
            </MudCarouselItem>
            @*6th slide*@
            <MudCarouselItem Class="flex flex-col items-center justify-center gap-6!">
                <div class="relative">
                    <MudImage
                        Alt="onboard buriza"
                        Src="/_content/Buriza.UI/images/mascots/mascot_3.webp"
                        Class="!w-[176px]"
                    />
                    <MudImage
                        Alt="yellow diamond"
                        Src="/_content/Buriza.UI/images/misc/diamond_yellow.svg"
                        Class="absolute top-0 -left-2"
                    />
                    <MudImage
                        Alt="yellow diamond"
                        Src="/_content/Buriza.UI/images/misc/diamond_yellow.svg"
                        Class="absolute top-9 -left-6"
                    />
                    <MudImage
                        Alt="yellow diamond"
                        Src="/_content/Buriza.UI/images/misc/diamond_yellow.svg"
                        Class="absolute top-4 -right-5"
                    />
                    <MudImage
                        Alt="yellow diamond"
                        Src="/_content/Buriza.UI/images/misc/diamond_yellow.svg"
                        Class="absolute -top-5 right-0"
                    />
                </div>
                <div class="!text-center !space-y-2">
                    <MudText Class="!text-[var(--mud-palette-text-secondary)]">
                        Way to go!
                    </MudText>
                    <MudText Class="!text-2xl !font-medium max-w-[250px]">
                        Congratulations your new wallet has been created!
                    </MudText>
                </div>
            </MudCarouselItem>
        </MudCarousel>
        <div class="!space-y-3">
            <BurizaButton
                Variant="Variant.Filled"
                Color="Color.Secondary"
            >
                Import Using Seed Phrase
            </BurizaButton>
            <BurizaButton
                Variant="Variant.Filled"
                Color="Color.Primary"
                OnClick="OnNextButtonClicked"
            >
                Create New Wallet
            </BurizaButton>
        </div>
    </div>
</section>