@using Buriza.UI.Components.Common
@using Buriza.UI.Components.Controls
@using Buriza.UI.Resources
@using Buriza.UI.Data.Dummy
@using Buriza.Data.Models.Enums

@namespace Buriza.UI.Components.Layout

<div class="max-lg:hidden !pt-4 flex flex-col !gap-3 h-full flex-shrink-0 lg:w-[300px] xl:w-[338px]">
    @switch (AppStateService.CurrentSidebarContent)
    {
        case SidebarContentType.Portfolio:
            <PortfolioSidebarContent />
            break;
        case SidebarContentType.History:
            <HistorySidebarContent />
            break;
    }
</div>
