@using Buriza.UI.Components.Common
@using Buriza.UI.Components.Controls
@using Buriza.UI.Resources

@namespace Buriza.UI.Components.Layout

<div class="w-full h-full !px-4 !pb-4 flex flex-col items-center justify-between">
    <div>
        <div>
            <MudText Class="!mb-6 !text-[var(--mud-palette-text-primary)]">We use the open protocol for UTxO based blockchain called UTxO RPC (U5C). Learn more about utxorpc
            <MudLink Href="https://utxorpc.org/">https://utxorpc.org/</MudLink>.</MudText>
        </div>
        <div>
            <BurizaTextField Label="URL" HelperText="Enter a valid URL for the node" Class="mb-3" />
            <BurizaTextField Label="API Key" HelperText="Enter your API key for the node" Class="mb-3" />
        </div>
        <div class="w-full flex items-center justify-between !mt-6">
            <div>
                <MudText>
                    Full Node
                </MudText>
            </div>
            <div>
                <MudSwitch
                    @bind-Value="IsFullNode"
                    T="bool"
                    Color="Color.Primary"
                    Class="@($"!transition-all !duration-150 {(IsFullNode ? "!bg-[var(--mud-palette-primary)] [&_.mud-switch-button]:!text-[var(--mud-palette-white)]" : "!bg-[var(--mud-palette-gray-default)] [&_.mud-switch-button]:!text-[var(--mud-palette-dark-lighten)]")} !border !border-[var(--mud-palette-dark-lighten)] rounded-full [&_.mud-button-root]:!p-[6px] [&_.mud-switch-span]:!w-[52px] [&_.mud-switch-span]:!h-[32px] [&_.mud-switch-track]:!bg-transparent")"
                />
            </div>
        </div>
    </div>
    <div class="w-full">
        <BurizaButton
            Variant="Variant.Filled"
            Color="Color.Primary"
        >
            Enable
        </BurizaButton>
    </div>
</div>