@using Buriza.UI.Resources

@namespace Buriza.UI.Components.Controls

<MudCard
    Class="shadow-sm! !gap-4 !flex-row items-center justify-between !px-4 !py-2 !rounded-[12px] !bg-[var(--mud-palette-dark)]"
>
    <div class="flex items-center gap-2!">
        <div class="aspect-square rounded-full overflow-hidden w-[48px] h-[48px] sm:w-[56px] sm:h-[56px] ">
            <MudImage
                Alt="@AssetName"
                Src="@AssetIcon"
            />
        </div>
        <div class="!mt-1">
            <div>
                <MudText Class="!font-semibold !leading-[20px]">
                    @AssetName
                </MudText>
            </div>
            <div class="flex items-center !text-[var(--mud-palette-success)]">
                <MudIcon Icon="@BurizaIcons.ArrowUp1Icon" Class="!ml-[-6px] !mr-[-4px]"/>
                <MudText Class="!text-sm">
                    @PricePercentage%
                </MudText>
            </div>
        </div>
    </div>
    <div class="max-w-[150px] sm:max-w-[267px]">
        <MudImage
            Alt="sample graph"
            Src="@Misc.GraphPositive"
        />
    </div>
    <div class="!mt-1">
        <MudText Class="!font-semibold !leading-[20px] !w-full !text-end">
            @AssetAmount
        </MudText>
        <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !w-max !text-end">
           ≈ $@UsdConversion
        </MudText>
    </div>
</MudCard>