@config "../tailwind.config.js";
@import "tailwindcss";

:root {
    --dapp-hunterdex-primary: #4F8EFF;
    --dapp-hunterdex-secondary: #006ED3;
    --dapp-levvy-primary-light: #EE9E3F;
    --dapp-levvy-primary: #FF993A;
    --dapp-levvy-secondary: #FF7E07;
    --dapp-levvy-tertiary: #F6E89A;
    --dapp-minswap-primary: #5656FF;
    --dapp-minswap-secondary: #01194A;
    --dapp-danzo-primary: #BB7C00;
    --dapp-danzo-secondary: #FFC000;
}

* {
    font-family: "Poppins", system-ui, sans-serif;
}

.mud-tabs-tabbar-wrapper {
    position: relative;
    border-radius: 9999px;
    max-width: max-content;
    height: 100%;
    padding: 6px 2px;
}

.mud-tab-slider.mud-tab-slider-horizontal {
    height: 39px !important;
    bottom: 6px !important;
    border-radius: 9999px;
    z-index: -1;  
}

.wallet-content {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s ease-in-out;
}

.wallet-content.expanded {
    max-height: 1000px;
    opacity: 1;
}

.wallet-content.collapsed {
    max-height: 0;
    opacity: 0;
}