@using Buriza.UI.Components.Common
@using Buriza.UI.Components.Controls
@using Buriza.UI.Resources

@page "/settings/node"

@namespace Buriza.UI.Components.Pages

<PageTitle>Buriza</PageTitle>

<section class="h-screen">
    <div class="max-[376px]:!pt-4 max-[376px]:!pb-8 h-full container !mx-auto !px-4 !py-16">
        <div class="flex justify-between !mb-[25px]">
            <div class="flex align-center">
                <MudNavLink Href="/settings" Class="!size-fit !p-0 [&_a.mud-nav-link]:!p-0 [&_.mud-nav-link-text]:!m-0">
                    <MudIcon Icon="@BurizaIcons.ChevronRightIcon" Class="mr-4 ml-1" />
                </MudNavLink>
                <MudText Class="!text-[22px] !font-medium">Custom Node</MudText>
            </div>
            <div>
                <MudImage Alt="Avatar" Src="@Misc.Avatar" Class="!h-[30px] !mr-4"></MudImage>
            </div>
        </div>

        <div class="max-[376px]:min-h-[calc(100vh-112px)] min-h-[calc(100vh-202px)] flex flex-col justify-between !pb-12">
            <div>
                <MudText Class="!mb-6">We use the open protocol for UTxO based blockchain called UTxO RPC (U5C). Learn more about utxorpc
                <MudLink Href="https://utxorpc.org/">https://utxorpc.org/</MudLink>.</MudText>
                <BurizaTextField Placeholder="Input a URL..." Class="mb-3" />
                <BurizaTextField Placeholder="Input API Key..." Class="mb-3" />
            </div>
            <div>
                <BurizaButton
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                >
                    Enable
                </BurizaButton>
            </div>
        </div>
    </div>
</section>