@using Buriza.UI.Components.Common
@using Buriza.UI.Components.Controls
@using Buriza.UI.Resources

@page "/settings/node"

@namespace Buriza.UI.Components.Pages

<PageTitle>Buriza</PageTitle>

<section class="h-screen">
    <div class="max-[376px]:!pt-4 max-[376px]:!pb-8 h-full container !mx-auto !px-4 !py-16">
        <div class="flex justify-between !mb-[25px]">
            <div class="flex align-center">
                <MudNavLink Href="/settings" Class="!size-fit !p-0 [&_a.mud-nav-link]:!p-0 [&_.mud-nav-link-text]:!m-0">
                    <MudIcon Icon="@BurizaIcons.ChevronRightIcon" Class="mr-4 ml-1" />
                </MudNavLink>
                <MudText Class="!text-[22px] !font-medium">Custom Node</MudText>
            </div>
            <div>
                <MudImage Alt="Avatar" Src="@Misc.Avatar" Class="!h-[30px]"></MudImage>
            </div>
        </div>

        <div class="max-[376px]:min-h-[calc(100vh-112px)] min-h-[calc(100vh-202px)] flex flex-col justify-between !pb-12">
            <div>
                <MudText Class="!mb-6">We use the open protocol for UTxO based blockchain called UTxO RPC (U5C). Learn more about utxorpc
                <MudLink Href="https://utxorpc.org/">https://utxorpc.org/</MudLink>.</MudText>
                <BurizaTextField Label="URL..." Class="mb-3" />
                <BurizaTextField Label="API Key" Class="mb-3" />

                <div class="max-[376px]:flex hidden w-full items-center justify-between !mt-6">
                    <div>
                        <MudText>
                            Full Node
                        </MudText>
                    </div>
                    <div>
                        <MudSwitch
                            @bind-Value="IsFullNode"
                            T="bool"
                            Color="Color.Primary"
                            Class="@($"!transition-all !duration-150 {(IsFullNode ? "!bg-[var(--mud-palette-primary)] [&_.mud-switch-button]:!text-[var(--mud-palette-white)]" : "!bg-[var(--mud-palette-gray-default)] [&_.mud-switch-button]:!text-[var(--mud-palette-dark-lighten)]")} !border !border-[var(--mud-palette-dark-lighten)] rounded-full [&_.mud-button-root]:!p-[6px] [&_.mud-switch-span]:!w-[52px] [&_.mud-switch-span]:!h-[32px] [&_.mud-switch-track]:!bg-transparent")"
                        />
                    </div>
                </div>
            </div>
            <div>
                <BurizaButton
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                >
                    Enable
                </BurizaButton>
            </div>
        </div>
    </div>
</section>