@using Buriza.UI.Resources
@using Buriza.UI.Components.Layout

@page "/settings"

@namespace Buriza.UI.Components.Pages

<PageTitle>Buriza</PageTitle>

<section class="h-screen">
    <div class="max-[376px]:block max-[376px]:fixed max-[376px]:bottom-0 max-[376px]:left-0 max-[376px]:w-screen max-[376px]:h-21 max-[376px]:bg-[var(--mud-palette-background)]/80 max-[376px]:backdrop-blur-xs max-[376px]:z-1 hidden"></div>
    <div class="max-[376px]:!pt-4 max-[376px]:!pb-8 h-full container !mx-auto !py-16">
        <div class="flex justify-between !mb-[25px] !px-4">
            <div class="flex align-center">
                <MudIcon Icon="@BurizaIcons.ChevronRightIcon" Class="mr-4 ml-1" />
                <MudText Class="!text-[22px] !font-medium">Settings</MudText>
            </div>
        </div>

        <SettingsSection
            OnAccountSettingsClick="HandleAccountSettingsClick"
            OnNodeClick="HandleNodeClick"
            OnSeeAllWallets="HandleSeeAllWallets"
            OnSwitchAccount="HandleSwitchAccount"
        />
    </div>
</section>
