@using Buriza.UI.Resources
@namespace Buriza.UI.Components.Layout

<div class="w-full !px-4">
    <div class="w-full !mb-3">
        <MudText Class="!text-center !font-medium">
            Summary of your activity
        </MudText>
    </div>
    <MudCard
        Class="!bg-[var(--mud-palette-background-gray)] !p-4 !rounded-[12px] !gap-6 shadow-sm!"
    >
        <div class="!space-y-4">
            <div class="w-full flex items-center justify-between">
                <div>
                    <MudText Class="!text-sm">
                        Transaction ID:
                    </MudText>
                </div>
                <div class="flex items-center justify-end !gap-2">
                    <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !font-medium">
                        9f7a...1b93d2
                    </MudText>
                    <MudIconButton
                        Icon="@BurizaIcons.CopySymbolIcon"
                        Class="!p-0 [&_.mud-icon-root]:!text-lg [&_.mud-icon-root]:!text-[var(--mud-palette-text-secondary)]/60"
                    />
                </div>
            </div>
            <div class="w-full flex items-center justify-between">
                <MudText Class="!text-sm">
                    Timestamp:
                </MudText>
                <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)] !font-medium">
                    03/07/2025 16:17:20
                </MudText>
            </div>
        </div>
        <div class="!space-y-2">
            <div class="w-full bg-[var(--mud-palette-background)] rounded-[8px] !px-3 !py-[10px]">
                <MudText Class="!text-sm">
                    <span class="!text-[var(--mud-palette-text-secondary)]">From:</span>
                    <span>addr1q...8r7z4lgcqrqt9uu</span>
                </MudText>
            </div>
            <div class="w-full bg-[var(--mud-palette-background)] rounded-[8px] !px-3 !py-[10px]">
                <MudText Class="!text-sm">
                    <span class="!text-[var(--mud-palette-text-secondary)]">To:</span>
                    <span>addr1q...17xpubmzsrqt9jp</span>
                </MudText>
            </div>
        </div>
        <div class="border border-[var(--mud-palette-table-lines)] !p-3 !rounded-[8px] !space-y-3">
            <div>
                <MudText Class="!text-xs !text-[var(--mud-palette-text-secondary)]">
                    Assets
                </MudText>
            </div>
            <div class="w-full flex items-center justify-between">
                <div class="flex items-center !gap-2">
                    <div class="rounded-full overflow-hidden">
                        <MudImage
                            Alt=""
                            Src="@Tokens.Snek"
                            Class="!w-8 aspect-square"
                        />
                    </div>
                    <div>
                        <MudText Class="!font-semibold !text-sm">
                            SNEK
                        </MudText>
                    </div>
                </div>
                <div>
                    <MudText Class="!text-end !text-sm !font-semibold">
                        -551.28
                    </MudText>
                </div>
            </div>
            <div class="w-full flex items-center justify-between">
                <div class="flex items-center !gap-2">
                    <div class="rounded-full overflow-hidden">
                        <MudImage
                            Alt=""
                            Src="@Tokens.Ada"
                            Class="!w-8 aspect-square"
                        />
                    </div>
                    <div>
                        <MudText Class="!font-semibold !text-sm">
                            ADA
                        </MudText>
                    </div>
                </div>
                <div>
                    <MudText Class="!text-end !text-sm !font-semibold">
                        -1,551.28
                    </MudText>
                </div>
            </div>
        </div>
        <div>
            <div>
                <MudText Class="!text-[11px]">
                    Additional Information
                </MudText>
            </div>
            <div class="!space-y-2 !mt-4">
                <div class="w-full flex items-center justify-between">
                    <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)]">
                        Collateral
                    </MudText>
                    <MudText Class="!text-sm !font-medium">
                        ₳433.00
                    </MudText>
                </div>
                <div class="w-full flex items-center justify-between">
                    <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)]">
                        Expires by
                    </MudText>
                    <MudText Class="!text-sm !font-medium">
                        No limit
                    </MudText>
                </div>
                <div class="w-full flex items-center justify-between">
                    <MudText Class="!text-sm !text-[var(--mud-palette-text-secondary)]">
                        Transaction fee
                    </MudText>
                    <MudText Class="!text-sm !font-medium">
                        ₳0.034
                    </MudText>
                </div>
            </div>
        </div>
    </MudCard>
</div>