@inherits LayoutComponentBase


<MudThemeProvider IsDarkMode="AppStateService.IsDarkMode" Theme="BurizaTheme"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<main class="bg-[url(/_content/Buriza.UI/images/background/background_mobile.webp)] sm:bg-[url(/_content/Buriza.UI/images/background/background.webp)] bg-auto bg-center bg-no-repeat">
    @Body
</main>