@using Buriza.UI.Components.Common
@using Buriza.UI.Resources

@namespace Buriza.UI.Components.Dialogs

<BurizaBaseDialog 
    Title="Transaction Confirmation"
    OnClose="Cancel" 
    Class="w-[379px] h-[271px] !rounded-[28px] !p-6" 
    TitleClass="p-0! mb-3!"
    ActionsClass="!justify-end px-0! pt-0! pb-0!"
>
    <DialogContent>
        <div class="h-full flex flex-col justify-between">
            <div>
                <MudText
                    Class="text-xs! tracking-[0.1px]">
                    Please sign the transaction with your password
                </MudText>
            </div>
            <div class="relative !mb-6">
                <BurizaTextField 
                    @bind-Value="_password"
                    Label="Password" 
                    InputType="@_passwordInputType"
                />
                <div>
                    <MudIconButton
                        Ripple="false"
                        Icon="@(_showPassword ? @BurizaIcons.HiddenIcon : @BurizaIcons.VisibleIcon)"
                        OnClick="TogglePasswordVisibility"
                        Class="absolute top-1/2 -translate-y-1/2 right-3 !p-0 block [&_.mud-icon-root]:!text-white"
                    />                    
                </div>
            </div>
        </div>
    </DialogContent>
    <DialogActions>
        <BurizaButton Class="flex-1 bg-[var(--mud-palette-overlay-light)]! text-[var(--mud-palette-text-primary)]!" OnClick="Cancel">Cancel</BurizaButton>
        <BurizaButton Class="flex-1" Color="Color.Primary" OnClick="Confirm">Confirm</BurizaButton>
    </DialogActions>
</BurizaBaseDialog>